.registrar-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(16, 37, 73, 0.85); 
  backdrop-filter: blur(10px); 
  color: white;
  border-radius: 20px;
  text-align: center;
}

.registrar-container h2 {
  font-size: 50px;
  color: #fff;
}

.registrar-container .input-field {
  position: relative;
  width: 100%;
  margin: 30px auto;
}

.input-field input {
  width: 85%;
  height: 50px;
  padding: 20px 45px;
  border-radius: 8px;
  background-color: #25228e;
  color: #fff;
  border: none;
}

.input-field input::placeholder {
  color: #fff;
}

.input-field .icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
}

.registrar-container button {
  width: 100%;
  height: 50px;
  background-color: #190ee6;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.registrar-container button:hover {
  background-color: #4b4875;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 1.1em;
  margin-top: 15px;
  text-align: center;
}