<<<<<<< HEAD
.grid {
    display: flex;
    gap: 20px;
  }
  
  .grid-item {
    padding: 15px;
    text-align: center;
  }
  
  .grid-item img {
    width: 50%;
    height: 10;
    margin-bottom: 5%;
    border: none; 
  }
  
  .grid-item:nth-child(2) img {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1%;
  }
=======
.grid {
    display: flex;
    gap: 20px;
  }
  
  .grid-item {
    padding: 15px;
    text-align: center;
  }
  
  .grid-item img {
    width: 50%;
    height: 10;
    margin-bottom: 5%;
    border: none; 
  }
  
  .grid-item:nth-child(2) img {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1%;
  }
>>>>>>> 1aa0473a0256461b2ecb560942ae0877726ba135
  