.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000f19;
    color: white;
    padding: 1px 10px;
    border-bottom: 1px solid #000;
  }
  
  .header .logo {
    width: 50px; 
    height: 50px;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  
  .header nav ul li {
    cursor: pointer;
  }
  
  nav button{
    background-color: blue;
  }

  nav{
    display: flex;
    gap: 30px;
  }